<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

    <description>
      Hotel registration for ITC357-Ass1
    </description>
    <display-name>ITC357-Ass1</display-name>

    <welcome-file-list>
      <welcome-file>hotel.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
      <servlet-name>Hotel</servlet-name>
      <jsp-file>/hotel.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Hotel</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>Reservation</servlet-name>
      <servlet-class>hotel.ReservationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
      <servlet-name>Reservation</servlet-name>
      <url-pattern>/reservation</url-pattern>
    </servlet-mapping>
</web-app>
